body {
    background-image: linear-gradient(rgb(13, 35, 22), rgb(0, 0, 0));
    font-family: Georgia, serif;
    font-size: 20px;
    color: rgb(208, 200, 161);

}

span {
    color:rgb(118, 190, 125)
}

h1 {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }


  